
.footer{
  display:none;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin:auto;
}
h1{
  font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

/* NAVBAR */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 111px;
    padding-top: 58px;
    margin:auto;
    bottom:0;
}
  
.logocontainer{
  width: 20vw;
}
.logocontainer img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
a.navbutton {
  color: #000000;
  text-align: center;
  padding-left: 20px;
  text-decoration: none;
}

a:hover{
  color: #ED0E06;
}


/* MAIN PAGE */

.contactbody{
  margin:auto;
  margin-left: 200px;
  margin-right: 200px;
  
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}
.contactrow{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.rowpad{
  padding-top: 70px;
}
.social{
  text-align: center;
  width: 20vw;
}
.socialimg{
  height: 5vw;
  width:auto;
}
.socialtext{
  text-align:center;
}

/* FOOTER */
@media screen and (min-width: 1050px) {
  .footer {
    position: relative;
    display:flex;
    align-items: center;
    width: 100vw;
    height: 180px;
    background: #022447;
  }
  .footercontent{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin:auto;
  }
  .footertext{
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight:600;
    font-size: 25px;
  }
  .footericons{
    display:flex;
    flex-direction: row;
  }
  .footericon{
    text-align:center;
    align-self:center;
    padding-left:2vw;
    padding-right:2vw;
  }
  .footerimg{
    align-self:center;
  }
}
