body {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    margin:auto;
    color: #000000;
}
.eventsbody{
  width:80vw;
  margin:auto;
}
.fliercontainer{
  width: 20vw;
}
.flier{
  width: 20vw;
  height: auto;
  object-fit:cover;
}
h1{
  font-weight: 600;
  font-size: 48px;
  line-height: 30px;
  color: #000000;
}
h2{
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: black;
}

.eventcontainer{
  padding:30px;
  width:100%;
  height:auto;
  display:flex;
  flex-direction: row;
  justify-content: start;
  flex-shrink: 3;
  margin:auto;
}
.description{
  display:flex;
  flex-direction: column;
  width:40vw;
  padding-left:10vw;
}

/* 'Sign-Up' Buttons for Upcoming Events */
.sign-up-button {
    width: 237px;
    height: 60px;
    background: #FFB602;
    border-radius: 41px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-decoration: none!important;
    color: #000000;
}

/* Popup for email form */
.email-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.47);
    backdrop-filter: blur(25px);
    position: fixed;
    top: 0;
    justify-content: center;

    display: none;
}

.popup-content {
    width: 80vw;
    height: 200px;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
}

/* Input box for user to enter email */
input {
    width: 650px;
    height: 37px;
    padding: 22px;
    background: #EEEEEE;
    border-radius: 30px;
    border: none;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: rgba(0, 0, 0, 0.6);
}

/* Message next to input box if user enters invalid email */
.error-message {
    position: absolute;
    width: 270px;
    left: 934px;
    top: 80px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    border-radius: 20px;
    padding-left: 15px;
    
    background: #EEEEEE;
    display: none;

    color: #000000;
}

/* Closes popup */
.close {
    position: fixed;
    right: 5vw;
    top: 90px;
    transform: rotate(45deg);

    font-size: 40px;
    cursor: pointer;
}

/* Message confirming eligibility or ineligibility */
.message{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
#messagecontent {
    width: 30vw;
    height: 70px;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    border-radius: 20px;
    background: #EEEEEE;

    font-size: 16px;
}

/* NAVBAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 111px;
  padding-top: 58px;
  margin:auto;
}

.logocontainer{
width: 20vw;
}
.logocontainer img{
width: 100%;
height: auto;
object-fit: cover;
}
a.navbutton {
color: #000000;
text-align: center;
padding-left: 20px;
text-decoration: none;
}

a:hover{
color: #ED0E06;
}

/* FOOTER */
.footer {
  position: relative;
  display:flex;
  align-items: center;
  width: 100vw;
  height: 180px;
  margin-top:150px;
  background: #022447;
  text-align: left;
}
.footercontent{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin:auto;
}
.footertext{
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight:600;
  font-size: 25px;
}
.footericons{
  display:flex;
  flex-direction: row;
}
.footericon{
  text-align:center;
  align-self:center;
  padding-left:2vw;
  padding-right:2vw;
}
.footerimg{
  align-self:center;
}