body{
  font-family: 'Montserrat', sans-serif;
  margin:auto;
}

.get_involved {
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
}

h1{
    /* position: absolute;
    width: 409px;
    height: 61px;
    left: 225px;
    top: 281px; */

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
}

p{
    /* position: absolute;
    width: 994px;
    height: 181px;
    left: 223px;
    top: 400px; */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    color: #000000;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    position: absolute; 
    border-radius: 41px;
    border: none;
    background: #FFB602;
    text-align: center;
    width: 237px;
    height: 60px;
    /* left: 602px;
    top: 884px; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
.eventsbutton{
  text-decoration: none;
  color: #000000;
}

.wrapper {
    display: flex;
    justify-content: center;
}

#bigbox {
    /* width: 968px; */
    /* position: absolute; */
    /* width: 994px; */
    height: 649px;
    display: flex;
    justify-self: center;
    /* left: 223px;
    top: 1022px; */

    background: #E3E3E3;
}

h2{
    /* position: absolute; 
    width: 329px;
    left: 223px;
    top: 1052px; */
    height: 44px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43.88px;

    color: #000000;
}

/* NAVBAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 111px;
  padding-top: 58px;
  margin:auto;
}

.logocontainer{
width: 20vw;
}
.logocontainer img{
width: 100%;
height: auto;
object-fit: cover;
}
a.navbutton {
color: #000000;
text-align: center;
padding-left: 20px;
text-decoration: none;
}

a:hover{
color: #ED0E06;
}

/* FOOTER */
.footer {
  position: relative;
  display:flex;
  align-items: center;
  width: 100vw;
  height: 180px;
  background: #022447;
}
.footercontent{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin:auto;
}
.footertext{
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight:600;
  font-size: 25px;
}
.footericons{
  display:flex;
  flex-direction: row;
}
.footericon{
  text-align:center;
  align-self:center;
  padding-left:2vw;
  padding-right:2vw;
}
.footerimg{
  align-self:center;
}

