@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    margin:auto;
}

.welcome{
  width: 80vw;
}

/* NAVBAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 111px;
  padding-top: 58px;
  margin:auto;
}

.logocontainer{
width: 20vw;
}
.logocontainer img{
width: 100%;
height: auto;
object-fit: cover;
}
a.navbutton {
color: #000000;
text-align: center;
padding-left: 20px;
text-decoration: none;
}

a:hover{
color: #ED0E06;
}

/*=================== middle section of the page ==================*/
h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.events {
    height: 260px;
    width: 90%;
    position: relative;
    left: 5%;
    right: 5%;
}

.events img{
    height:260px;
    width: 260px;
}

.eventpic2{
    padding-left: 50px;
    padding-right: 50px;
}

.seeMore{
    background-color: #FFB602;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 41px;
    font-size: 24px;
    position: relative;
    top: 30px;
    bottom: 100px;
    color: black;
}

.seeMore:hover{
  color:white;
}

h2 {
    margin-top: 140px;
    font-size: 30px;
}

.aboutUs {
  margin-top: 70px;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
}

/* FOOTER */
.footer {
  position: relative;
  display:flex;
  align-items: center;
  width: 100vw;
  height: 180px;
  margin-top:150px;
  background: #022447;
  text-align: left;
}
.footercontent{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin:auto;
}
.footertext{
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight:600;
  font-size: 25px;
}
.footericons{
  display:flex;
  flex-direction: row;
}
.footericon{
  text-align:center;
  align-self:center;
  padding-left:2vw;
  padding-right:2vw;
}
.footerimg{
  align-self:center;
}