<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="FCSNboardmembers.css"> -->
        <link rel="stylesheet" href="../static/board.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>

    <body>
        <div class= "home">
            <div class= "nav-bar">
                <div class= "Component1">
                    <div class= "image">
                        <img src= "{{ url_for('static', filename='fcsndavislogo (fb banner) 2.png') }}" alt="FCSN Davis Logo" >
                        <div class= "links">
                            <ul>
                                <li><a href = "/home">Home</a></li>
                                <li><a href = "/aboutus">About Us</a></li>
                                <li><a href = "/events">Events</a></li>
                                <li><a href = "/getinvolved">Get Involved</a></li>
                                <li><a href = "/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b><h2>Board Members</h2></b>
        <br><br>
            <div class="row">
                <div class="column">
                    <img src="Erica Chiu.jpg" alt="Chiu, Erica" class = "img" >
                    <b><figcaption id="name">Erica Chiu</figcaption></b>
                    <br>
                    <b><figcaption id="position">PRESIDENT</figcaption></b>  
                    <b><figcaption id="year-major">Second Year - Biological Sciences</figcaption></b>
                </br></br>
                </div>

                <div class="column">
                    <img src="Ember Hung.jpg" alt="Ember, Hung" class = "img" >
                    <b><figcaption id="name">Ember Hung</figcaption></b>  
                    <br>
                    <b><figcaption id="position">VICE PRESIDENT</figcaption></b>   
                    <b><figcaption id="year-major">Second Year - Cell Biology</figcaption></b>
                </br></br>
                </div>

                <div class="column">
                    <img src="Ayushi_Ambekar.jpg" alt="Ambekar, Ayushi" class = "img" >
                    <b><figcaption id="name">Ayushi Ambekar</figcaption></b> 
                    <br> 
                    <b><figcaption id="position">CO-PUBLIC RELATIONS OFFICER</figcaption></b>    
                    <b><figcaption id="year-major">Second Year - Computer Science</figcaption></b>
                </br></br>
                </div>
            </div>

            <div class="row"> 
                <div class="column">
                    <img src="Julia_Pan.jpg" alt="Julia Pan" class = "img">
                    <b><figcaption id="name">Julia Pan</figcaption></b>  
                    <br>    
                    <b><figcaption id="position">CO-PUBLIC RELATIONS OFFICER</figcaption></b>
                    <b><figcaption id="year-major">Second Year - Biological Sciences, Managerial Economics</figcaption></b>
                </br></br>
                </div>

                <div class="column">
                    <img src="Sasha_Afroz.jpg" alt="Sasha Afroz" class = "img">
                    <b><figcaption id="name">Sasha Afroz</figcaption></b> 
                    <br>
                    <b><figcaption id="position">FINANCIAL OFFICER</figcaption></b>
                    <b><figcaption id="year-major">First Year - Psychology, Human Rights and Public Health</figcaption></b>
                </br></br>
            </div>

                <div class="column">
                    <img src="John Falcon.jpg" alt="John Falcon" class = "img">
                    <b><figcaption id="name">John Falcon</figcaption></b>  
                    <br> 
                    <b><figcaption id="position">SECRETARY</figcaption></b>   
                    <b><figcaption id="year-major">Second Year - Neurology, Physiology, and Behavior, Psychology</figcaption></b>
                </br></br>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <img src="Catherine Chen.jpg" alt="Catherine Chen" class = "img">
                    <b><figcaption id="name">Catherine Chen</figcaption></b>  
                    <br>
                    <b><figcaption id="position">CREATIVES OFFICER</figcaption></b>    
                    <b><figcaption id="year-major">First Year - Human Development</figcaption></b>
                </br></br>
                </div>

                <div class="column">
                    <img src="Han_Dang.jpg" alt="Gia Han Dang" class = "img">
                    <b><figcaption id="name">Gia Han Dang</figcaption></b> 
                    <br>     
                    <b><figcaption id="position">CO-SOCIAL MEDIA COORDINATOR</figcaption></b>
                    <b><figcaption id="year-major">Second Year - Biological Sciences</figcaption></b>
                </br></br>
                </div>

                <div class="column">
                    <img src="Isa Asuncion.jpg" alt="Isabella Miyuki Asuncion" class = "img">
                    <b><figcaption id="name">Isabella Miyuki Asuncion</figcaption></b> 
                    <br>
                    <b><figcaption id="position">CO-SOCIAL MEDIA COORDINATOR</figcaption></b> 
                    <b><figcaption id="year-major">Second Year - Cognitive Science with Neuroscience Emphasis</figcaption></b>
                </br></br>
                </div>
            </div>
    </body>
</html>
