<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> Get Involved </title>
        <!-- <link href="FSCNGetInvolved.css" rel="stylesheet" type="text/css" /> -->
        <link rel="stylesheet" href="../static/getinvolved.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- nav bar -->
        <div class= "home">
            <div class= "nav-bar">
                <div class= "Component1">
                    <div class= "image_nav">
                        <img src= "fcsndavislogo (fb banner) 2.png" alt="FCSN Davis Logo" >
                        <div class= "links">
                            <ul>
                                <li><a href = "HomeURL">Home</a></li>
                                <li><a href = "AboutUsURL">About Us</a></li>
                                <li><a href = "EventsURL">Events</a></li>
                                <li><a href = "GetInvolvedURL">Get Involved</a></li>
                                <li><a href = "ContactURL">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
            </div>
        </div>

        <!-- get involved content -->
        <div class="get_involved">
            <div id="content-wrap">
                <h1> Get Involved </h1>
                
                <p> 
                    To get involved with the FCSN at UC Davis, we offer a variety of events from 
                    volunteering opportunities to general meetings. We also organize fundraisers to 
                    help children with special needs all around the world. If you are interested in 
                    any of these events and bridging the gap between the neurotypical and special 
                    needs community, click below to view and sign up for events! 
                    <br>
                </p>

                <!-- replace images if needed. we just choose random event flyers -->
                <div class='flex-container'>
                    <img src = "FCSN Volunteer Training Instagram Post.png" alt="Volunteer Training" 
                        style='width: 307px; height: 307px'>
                    <img src = "fcsn davis first meeting.png" alt="First Meeting" 
                        style='width: 307px; height: 307px'>
                    <img src = "fcsn davis 2nd meeting.png" alt="Second Meeting" 
                        style='width: 307px; height: 307px'>
                </div>
                
                <br> 
                <br>
                <div class="wrapper">
                    <!-- replace trial.html with the actual events page -->
                    <button onclick="location.href='trial.html'" type = "button"> See Events </button> 
                    <br>
                    <br>
                </div>

                <br>
                <br>
                <br>
                <br>
                <div id="bigbox">
                    <br>
                    <!-- <h2> [Google Calendar] </h2> -->

                    <!-- replace this with the actual google calendar link -->
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp; wkst=1&amp;
                        bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;
                        src=YWxsaXNvbi53bC5jaGFuQGdtYWlsLmNvbQ&amp;
                        src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;
                        src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;
                        color=%237986CB&amp;color=%2333B679&amp;color=%230B8043" 
                        style="border:solid 1px #777" width="1090px" height="646px" frameborder="0" 
                        scrolling="no"> 
                    </iframe>
                    <!-- calendar dimensions: width="1050px" height="646px" -->
                </div>
            </div>
        </div>

        <br>
        <div class="Group_46">
            <div class= "Rectangle3">
            <!--  <div class="Group_45">-->
                <div class = "Text">Friends of Children with Special Needs @ UC Davis</div>
                <div class = "Frame7"></div>
            </div>
            <!--</div>-->
            <div class= "Frame8">
                <img class="aggie" src="image 3.png">
                <img class="Instagram" src="image 2.png" alt="Instagram Logo">
                <img class="Facebook" src="image 1.png">
            </div>
        </div> 
    </body>
</html>