h2{
  font-family: 'Montserrat';
  margin-left:12%;
}

.row {
  display: flex;
  text-align: center;  
}

.column {
  flex: 33.33%;          
}


#name{
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: left;
  margin-left: 12%;
}

#position{
  font-family: 'Montserrat';
  font-size: 15px;
  color: #3069D7;
  text-align: left;
  margin-left: 12%;
  
}

#year-major{
  font-family: 'Montserrat';
  font-size: 15px;
  text-align: left;
  margin-left: 12%;
}

.img{
  object-fit: cover;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height:auto;
  object-fit: cover;
}
