<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
        <link rel="stylesheet" href="../static/styles/aboutus.css">

        <div class= "nav-bar">
            <div class="logocontainer">
                <img src= "../static/images/fcsndavislogo (fb banner) 2.png" alt="FCSN Davis Logo" > 
            </div>
            <div class= "links">
                <a class="navbutton" href = "/home">Home</a>
                <a class="navbutton" href = "/aboutus">About Us</a>
                <a class="navbutton" href = "/events">Club Events</a>
                <a class="navbutton" href = "/getinvolved">Volunteer</a>
                <a class="navbutton" href = "/parents">For Parents</a>                
                <a class="navbutton" href = "/contact">Contact</a>
            </div>
        </div>
    </head>

    <body>

        
        <div class="mainDiv">
            <h1>About Us</h1>


            <h2>FCSN Parent Organization Mission Statement</h2>
                <p>FCSN’s mission is to help individuals with special needs and their families find love, hope, respect, and support through integrated community involvement.<br>
                    We strive to create a secure community in which individuals can learn, grow, and interact.<br>
                    <a href="http://fcsn1996.org/">http://fcsn1996.org/</a></p>

            <h2>UC Davis Branch</h2>

                <p>
                    Friends of Children with Special Needs at UC Davis works closely with local non-profit organization Friends of Children With Special Needs to provide students with volunteer and 
                    leadership opportunities. Our club is dedicated to channeling hope, support and awareness towards the special needs community. We work closely with FCSN to bridge the gap between
                     the neurotypical and the special needs community. We also organize fundraisers for children with special needs in different parts of the world to support them in their education. 
                     Above all, we strive to reduce the stigma surrounding the special needs community and to encourage strong, loving bonds between the special needs community and the society as a whole.
                </p>
        
            <h2>Board Members</h2>
            <div class="flex-container">
                
                <div class="boardMember">
                    <div class="profilePic">
                        <img src="../static/images/EricaChiu.jpg" alt="Erica Chiu" class="image">
                        <div class="overlay">
                            <div class="text">Hello! My name is Erica Chiu, and I’m the President of FCSN Davis. I have been volunteering at East Bay FCSN for 3 years. I'm excited to create fun and impactful events for the club! During my free time, I like to bake desserts and drink boba.</div>
                        </div>
                    </div>
                    <h3>Erica Chiu</h3>
                    <h4 class="position">PRESIDENT</h4>
                    <h4>Third Year - Human Biology</h4>
                </div>

                <div class="boardMember">
                    <div class="profilePic">
                        <img src="../static/images/EmberHung.jpg" alt="Ember Hung" class="image">
                        <div class="overlay">
                            <div class="text">Hi hello! I’m Ember. As your VP for the FCSN at UC Davis Club, I’m excited to meet everyone – and make the best out of this strange, apocalyptic year. Since elementary school, I’ve interacted with children with special needs, although not specifically through FCSN. My hobbies during shelter-in-place: playing violin, reading, muffin baking, listening to music, and binging YouTube.</div>
                        </div>
                    </div>
                    <h3>Ember Hung</h3>
                    <h4 class="position">VICE PRESIDENT</h4>
                    <h4>Third Year - Human Biology</h4>
                </div>

                <div class="boardMember">
                    <div class="profilePic">
                        <img src="../static/images/AyushiAmbekar.jpg" alt="Ayushi Ambekar" class="image">
                        <div class="overlay">
                            <div class="text">Hi! My name is Ayushi Ambekar and I’m one of the public relations officers. I’ve been volunteering at FCSN for the past 4 years and really love working with the special needs community! In my free time, I enjoy reading and playing video games! I’m looking forward to a fun year with you all!</div>
                        </div>
                    </div>
                    <h3>Ayushi Ambekar</h3>
                    <h4 class="position">CO-PUBLIC RELATIONS OFFICER</h4>
                    <h4>Third Year - Computer Science</h4>
                </div>

                <div class="boardMember">
                    <div class="profilePic">
                        <img src="../static/images/JuliaPan.jpg" alt="Julia Pan" class="image">
                        <div class="overlay">
                            <div class="text">Hello!! My name is Julia Pan and I am serving as one of the Public Relations Officers for FCSN Davis! I was born and raised in Davis, teaching tennis & gymnastics through local special needs organizations for the last 5 years. Whenever I have time, I love to play tennis, paint landscapes, and take my dog on adventures. Can’t wait to meet everyone!</div>
                        </div>
                    </div>
                    <h3>Julia Pan</h3>
                    <h4 class="position">CO-PUBLIC RELATIONS OFFICER</h4>
                    <h4>Third Year - Biological Sciences, Managerial Economics</h4>
                </div>

                <div class="boardMember">
                    <div class="profilePic">
                        <img src="../static/images/SashaAfroz.jpg" alt="Sasha Afroz" class="image">
                        <div class="overlay">
                            <div class="text">Hey guys! I’m Sasha and I am the financial officer of FCSN at UC Davis. I hope to pursue a career in child psychiatry in the future. I have been volunteering at both FCSN South Bay and East Bay throughout high school and am excited to continue. Some of my other hobbies include all types of art, swimming, watching Netflix, and listening to music. I look forward to meeting everyone!! </div>
                        </div>
                    </div>    
                    <h3>Sasha Afroz</h3>
                    <h4 class="position">FINANCIAL OFFICER</h4>
                    <h4>Second Year - Psychology, Human Rights and Public Health</h4>
                </div>
                
                <div class="boardMember">
                    <div class="profilePic">
                        <img src="../static/images/IsabellaMiyukiAsuncion.jpg" alt="Isabella Miyuki Asuncion" class="image">
                        <div class="overlay">
                            <div class="text">Hi! My name is Isa & I will be serving as your FCSN secretary this year! I have experience coaching basketball for young kids, and working in programs dedicated for high schoolers with special needs. Outside of school, I like to play basketball, thrift, and wake up early to watch the sunrise. I’m so excited to meet you all!</div>
                        </div>
                    </div>
                    <h3>Isabella Asuncion</h3>
                    <h4 class="position">SECRETARY</h4>
                    <h4>Third Year - Cognitive Science with Neuroscience Emphasis</h4>
                </div> 
                
                <div class="boardMember">
                    <div class="profilePic">
                        <img src="../static/images/GiaHanDang.jpg" alt="Gia Han Dang" class="image">
                        <div class="overlay">
                            <div class="smallText">Helloooo everyone! My name’s Han, and I will be serving as your social media coordinator starting this fall! Previous to college, I was an active member and co-president for Interact Club (District 5170), and I’m excited to continue using my volunteer skills for FCSN this upcoming school year. In my free time, I enjoy watching YouTube videos, listening to music, and trying new things! [I have a YouTube channel if you ever want to check it out ♡ ] I’m always open to meeting new people, so if you ever need someone to talk to, I will do my best to be there for you! Have a great day and see you all soon!</div>
                        </div>
                    </div>
                    <h3>Gia Han Dang</h3>
                    <h4 class="position">SOCIAL MEDIA COORDINATOR</h4>
                    <h4>Third Year - Biological Sciences</h4>
                </div>
                
                <div class="boardMember">
                    <div class="profilePic">
                        <img src="../static/images/CatherineChen.jpg" alt="Catherine Chen" class="image">
                        <div class="overlay">
                            <div class="text">Hi! My name is Catherine Chen and I’m the creatives officer of UC Davis FCSN. I’ve been teaching swimming to local FCSN members for the past 3 summers. Some of my hobbies include drawing, swimming, and dogspotting. My favorite pastimes during quarantine are listening to music, binging tv shows, and doodling cute doggos. I’m excited to meet everyone and to have a fun school year!</div>
                        </div>
                    </div>
                    <h3>Catherine Chen</h3>
                    <h4 class="position">CREATIVES OFFICER</h4>
                    <h4>Second Year - Human Development</h4>
                </div>
                
                <div class="boardMember">
                    <div class="profilePic">
                        <img src="../static/images/CatherineChen.jpg" alt="Julie Lee" class="image">
                        <div class="overlay">
                            <div class="text">Hello everyone! My name is Julie and I’m the Outreach and Research officer of Davis FCSN this year! I have been teaching piano and physical education through local special needs organizations for the past three years and I am beyond excited to meet and work with more amazing individuals through this club and FCSN. In my free time, I enjoy going on hikes, exploring local restaurants, and editing photos/videos! I can’t wait to get to you know and meet all of you!</div>
                        </div>
                    </div>
                    <h3>Julie Lee</h3>
                    <h4 class="position">OUTREACH & RESEARCH OFFICER</h4>
                    <h4>Second Year - Biochemistry</h4>
                </div>
                
            </div>
        </div>  
        <br>
        <div class="footer">
            <div class ="footercontent">
                <div class = "footertext">Friends of Children with Special Needs @ UC Davis</div>
                <div class= "footericons">
                    <div class="footericon"><a href="https://aggielife.ucdavis.edu/organization/fcsndavis"><img class = "footerimg" src="../static/image 3.png"></a></div>
                    <div class="footericon"><a href="https://www.instagram.com/fcsndavis/"><img class = "footerimg" src="../static/image 2.png"></a></div>
                    <div class="footericon"><a href="https://www.facebook.com/groups/fcsndavis"><img class = "footerimg" src="../static/image 1.png"></a></div>
                </div>
            </div>
        </div>
    </body>      
</html>
