<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Contact </title>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="../static/styles/contact.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>

    <body>
       
        <div class= "nav-bar">
            <div class="logocontainer">
                <img src= "../static/images/fcsndavislogo (fb banner) 2.png" alt="FCSN Davis Logo" > 
            </div>
            <div class= "links">
                <a class="navbutton" href = "/home">Home</a>
                <a class="navbutton" href = "/aboutus">About Us</a>
                <a class="navbutton" href = "/events">Events</a>
                <a class="navbutton" href = "/getinvolved">Get Involved</a>
                <a class="navbutton" href = "/contact">Contact</a>
            </div>
        </div>
        <div class="contactbody">
            <h1>Contact</h1>
            
            <div class= "contactrow rowpad">
                <div class="social"><a href="https://www.instagram.com/fcsndavis/"><img class = "socialimg" src="../static/images/instagram.png"></a></div>
                <div class="social"><a href="https://www.facebook.com/groups/fcsndavis"><img class = "socialimg" src="../static/images/facebook.png" > </a></div>
                <div class="social"><a href="https://aggielife.ucdavis.edu/organization/fcsndavis"><img class = "socialimg" src="../static/images/aggie-life.png"></a></div>
            </div>
            <div class= "contactrow">
                <div class="social"><p class="socialtext">Instagram</p></div>
                <div class="social"><p class="socialtext">Facebook</p></div>
                <div class="social"><p class="socialtext">AggieLife</p></div>
            </div>
            <div class= "contactrow rowpad">
                <div class="social"><a href="http://fcsn1996.org/"><img class = "socialimg" src="../static/images/fcsn-davis-logo.png"></a></div>
                <div class="social"><a href="https://www.notion.so/FCSN-School-Clubs-Homepage-cd968e5064a44b92906bb12ff1d763a7"><img class = "socialimg" src="../static/images/fcsn-school-clubs.png" ></a></div>
                <div class="social"><a href="mailto:fcsndavis@gmail.com "><img class = "socialimg" src="../static/images/email.png"></a></div>
            </div>
            <div class= "contactrow">
                <div class="social"><p class="socialtext">FCSN Parent Organization</p></div>
                <div class="social"><p class="socialtext">FCSN School Clubs Homepage</p></div>
                <div class="social"><p class="socialtext">Email fcsndavis@gmail.com</p></div>
            </div>
        </div>

        <div class="footer">
            <div class ="footercontent">
                <div class = "footertext">Friends of Children with Special Needs @ UC Davis</div>
                <div class= "footericons">
                    <div class="footericon"><a href="https://aggielife.ucdavis.edu/organization/fcsndavis"><img class = "footerimg" src="../static/image 3.png"></a></div>
                    <div class="footericon"><a href="https://www.instagram.com/fcsndavis/"><img class = "footerimg" src="../static/image 2.png"></a></div>
                    <div class="footericon"><a href="https://www.facebook.com/groups/fcsndavis"><img class = "footerimg" src="../static/image 1.png"></a></div>
                </div>
            </div>
        </div>
    </body>

</html>