<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Contact </title>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="../static/styles/contact.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>

    <body>
       
        <div class= "nav-bar">
                <img src= "../static/images/fcsndavislogo (fb banner) 2.png" alt="FCSN Davis Logo" > 
            <div class= "links">
                <ul>
                <li><a href = "/home">Home</a></li>
                <li><a href = "/aboutus">About Us</a></li>
                <li><a href = "/events">Events</a></li>
                <li><a href = "/getinvolved">Get Involved</a></li>
                <li><a href = "/contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <h1>Contact</h1>
        
        <div class= "contact-container first-logos">
            <a href="https://www.instagram.com/fcsndavis/"><img src="../static/images/instagram.png" style="width: 116px; height:115px;"> </a>
            <a href="https://www.facebook.com/groups/fcsndavis"><img src="../static/images/facebook.png" style="width: 116px; height:115px; padding-left:34px"> </a>
            <a href="https://aggielife.ucdavis.edu/organization/fcsndavis"><img src="../static/images/aggie-life.png" style="width: 223px; height:59px;"></a>
        </div>
        <div class= "contact-container first-texts">
            <p>Instagram</p>
            <p>Facebook</p>
            <p>AggieLife</p>
        </div>
        <div class= "contact-container second-logos">
            <a href="http://fcsn1996.org/"><img src="../static/images/fcsn-davis-logo.png" style="width: 121px; height:121px"></a>
            <a href="https://www.notion.so/FCSN-School-Clubs-Homepage-cd968e5064a44b92906bb12ff1d763a7"><img src="../static/images/fcsn-school-clubs.png" style="width: 130px; height:130px;"></a>
            <a href="mailto:fcsndavis@gmail.com "><img src="../static/images/email.png" style="width: 120px; height:88px;"></a>
        </div>
        <div class= "contact-container second-texts">
            <p style="width: 133px;">FCSN Parent Organization</p>
            <p style="width: 177px;">FCSN School Clubs Homepage</p>
            <p style="width: 223px;">Email fcsndavis@gmail.com</p>
        </div>

        <div class="Group_46">
            <div class= "Rectangle3"></div>
            <div class = "Text">Friends of Children with Special Needs @ UC Davis</div>
            <div class = "Frame7"></div>
            <div class= "Frame8">
                <a class="aggie" href="https://aggielife.ucdavis.edu/organization/fcsndavis"><img src="../static/image 3.png"></a>
                <a class="Instagram" href="https://www.instagram.com/fcsndavis/"><img src="../static/image 2.png" alt="Instagram Logo"></a>
                <a class="Facebook" href="https://www.facebook.com/groups/fcsndavis"><img src="../static/image 1.png"></a>
            </div>
        </div>
    </body>

</html>