<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8">
        <title>Club Events</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles/events.css">
    </head>

    <body>
        <div class= "nav-bar">
            <div class="logocontainer">
                <a href="/home"><img src= "../static/images/fcsndavislogo__fb_banner__2-removebg-preview.png" alt="FCSN Davis Logo" ></a> 
            </div>
            <div class= "links">
                <a class="navbutton" href = "/home">Home</a>
                <a class="navbutton" href = "/aboutus">About Us</a>
                <a class="navbutton" href = "/events">Club Events</a>
                <a class="navbutton" href = "/getinvolved">Volunteer</a>
                <a class="navbutton" href = "/parents">For Parents</a>                
                <a class="navbutton" href = "/contact">Contact</a>
            </div>
        </div>

         <!-- Popup for email form -->
        <!-- 
         <div class="email-popup">
            <div class="popup-content">
                <!-- Closes the popup 
                <div class="close">+</div>

                <!-- Contents of Popout 
                <h2 style="width: 500px;">Check for event eligibility</h2>
                <form action="{{ url_for('check_eligibility') }}" method="POST" name="check_email" onsubmit="return validEmail()">
                    <input type="text" name="email" id="email" placeholder="Enter email here">
                </form>
            </div>
        </div>
        -->
        <div class="eventsbody">
            <!-- Messages about eligibility or ineligibility -->
            <!--
            <div class="message">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        Displays message confirming eligibility or ineligibility 
                        <div id="messagecontent">
                        {% for category, message in messages %}
                            <p><span style="color: red; font-size: 20px;">{{ category }}<br></span> {{ message }}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>  -->
            <h1>Events</h1>
            <!-- Upcoming Events -->
            <h2>Upcoming Events</h2>
            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/volunteer for fall 2021 virtual 1v1 tutoring.png"></div>
                <div class="description">
                    <p style="top:586px"><span style="font-size: 24px;">1-on-1 Virtual Tutoring</span><br><br>*Deadline for volunteer sign-ups: October 15, 2021 11:59pm* Flexible date & time, via Zoom</span><br><br>Virtual volunteering activity. Teach the subject of your choice to children with special needs. Tutoring times are flexible. Volunteer training required, orientation on October 16, 2021 2-3pm.</p>
                </div>
            </div>
        
            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/Book Club_Volunteer 3.png"></div>
                <div class="description">
                    <p style="top:586px"><span style="font-size: 24px;">Virtual Book Club</span><br><br>*Deadline for volunteer sign-ups: October 14, 2021 11:59pm* Flexible date & time, via Zoom</span><br><br>Virtual volunteering activity. Read books to children with special needs, books will be provided. Every Saturday 10/23-11/20, 1:30-2:10pm. Volunteer training required, orientation on October 16, 2021 3-4pm.</p>
                </div>
            </div>

             <!-- <a class="eligibilitybutton sign-up-button" href = "https://docs.google.com/forms/d/e/1FAIpQLSdicYc6EPlbizUrAxOfcZqcoKayqIdgNmc8VGsUY7tM_KmOMw/viewform?usp=sf_link">Register</a> -->
            <!-- <a href="#" class="eligibilitybutton sign-up-button">Check Eligibility</a>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% endwith %} -->

        <!--    
                    <a href="#" class="eligibilitybutton sign-up-button">Check Eligibility</a>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "Success" %}
                             Change href="" to link to the right google form for event sign up 
                            <a href="https://forms.gle/P5rp4Xk1d1AJtcHt8" class="sign-up-button">Register</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>           
        -->
    
            <!-- Past Events -->
            <h2>Past Events</h2>

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/spring1v1.png"></div>
                <div class="description">
                    <p style="top:586px"><span style="font-size: 24px;">1-on-1 Virtual Tutoring</span><br><br>*No longer accepting new volunteer sign-ups* Flexible date & time, via Zoom</span><br><br>Virtual volunteering activity. Teach the subject of your choice to children with special needs. Tutoring times are flexible. Volunteer training required.</p>
                </div>
            </div>

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/FCSN Volunteer Training 2.2021.png"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">FCSN Volunteer Training</span><br><br>February 20, 2021 9:00-11:30 am</span>
                    <br><br>Training is mandatory in order to volunteer for the club, so please consider attending if you are a new member or missed the last training! Those who have previously attended an FCSN training are not required to attend.</p>
                </div>
            </div> 

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/WQ2021 Game Night Club Social.JPG"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">WQ2021 Game Night Club Social</span><br><br>January 29, 2021 8 pm</span><br><br>We’ll be playing games from backyard.co that are similar to skribbl.io, mafia, codewords...Join us to meet more friends!!</p>
                </div>
            </div>  

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/WQ2021 Gen Meet 1.jpg"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">WQ2021 First General Meeting</span><br><br>January 26, 2021 8 pm</span><br><br>Join us at our first general meeting of the quarter! We'll be introducing our amazing board members for the 2020-2021 school year and sharing upcoming events, opportunities, and fundraisers.</p>
                </div>
            </div>  

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/wasp - erica.png"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">Winter After School Program</span><br><br>Tuesdays January 5, 12, 19, 2021 via Zoom</span><br><br>Virtual volunteering activity. Play online games and activities with children with special needs! Some games include Skribbl.io, Codenames, Reverse pictionary, Charades, and Simon Says. Volunteer training required.</p>
                </div>
            </div>       

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/tasp - erica.png"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">Thanksgiving After School Program</span><br><br>November 24-25, 2020 3:15pm</span><br><br>Virtual volunteering activity. Play online games and activities with children with special needs! Some games include Skribbl.io, Codenames, Reverse pictionary, Charades, and Simon Says. Volunteer training required. </p>
                </div>
            </div>       

                    

            <!-- Message if user doesn't enter valid email -->
            <div class="error-message">
                <p><span style="color: red; font-weight: 600; font-size: 25px; line-height: 30px;">Email Invalid<br></span>Please enter a valid email address.</p>
            </div>
        </div>

<script>
    // Each sign-up button will open a form for the user to enter their email
    var sign_up_buttons = document.getElementsByClassName('eligibilitybutton');
    function promptEmail() {
        document.querySelector('.email-popup').style.display = "flex";
    };

    for (i = 0; i < sign_up_buttons.length; i++) {
        sign_up_buttons[i].addEventListener("click", promptEmail);
    }

    // Returns true if valid input and false if invalid to prevent check_eligibility 
    // from processing invalid email
    function validEmail()
    {
        var input = document.check_email.email.value;

        const regex = RegExp("^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$");

        // Displays error message if invalid input for email
        if(!regex.test(input))  {
            document.querySelector('.error-message').style.display = 'flex';
            return false; // Prevents an invalid email from entering database
        }

        // Processes email to database
        return true;
    }

    // Closes popup email eligibility form
    document.querySelector('.close').addEventListener('click', 
    function() {
        document.querySelector('.email-popup').style.display = 'none';
        document.querySelector('.error-message').style.display = 'none';
    });
</script>

<!-- footer -->
        <div class="footer">
            <div class ="footercontent">
                <div class = "footertext">Friends of Children with Special Needs @ UC Davis</div>
                <div class= "footericons">
                    <div class="footericon"><a href="https://aggielife.ucdavis.edu/organization/fcsndavis"><img class = "footerimg" src="../static/image 3.png"></a></div>
                    <div class="footericon"><a href="https://www.instagram.com/fcsndavis/"><img class = "footerimg" src="../static/image 2.png"></a></div>
                    <div class="footericon"><a href="https://www.facebook.com/groups/fcsndavis"><img class = "footerimg" src="../static/image 1.png"></a></div>
                </div>
            </div>
        </div>
    </body>
</html>
