<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8">
        <title>FCSN Events</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles/events.css">
    </head>

    <body>
        <div class= "nav-bar">
            <div class="logocontainer">
                <img src= "../static/images/fcsndavislogo (fb banner) 2.png" alt="FCSN Davis Logo" > 
            </div>
            <div class= "links">
                <a class="navbutton" href = "/home">Home</a>
                <a class="navbutton" href = "/aboutus">About Us</a>
                <a class="navbutton" href = "/events">Events</a>
                <a class="navbutton" href = "/getinvolved">Get Involved</a>
                <a class="navbutton" href = "/contact">Contact</a>
            </div>
        </div>

         <!-- Popup for email form -->
         <div class="email-popup">
            <div class="popup-content">
                <!-- Closes the popup -->
                <div class="close">+</div>

                <!-- Contents of Popout -->
                <h2 style="width: 500px;">Check for event eligibility</h2>
                <form action="{{ url_for('check_eligibility') }}" method="POST" name="check_email" onsubmit="return validEmail()">
                    <input type="text" name="email" id="email" placeholder="Enter email here">
                </form>
            </div>
        </div>
        <div class="eventsbody">
            <!-- Messages about eligibility or ineligibility -->
            <div class="message">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <!-- Displays message confirming eligibility or ineligibility -->
                        <div id="messagecontent">
                        {% for category, message in messages %}
                            <p><span style="color: red; font-size: 20px;">{{ category }}<br></span> {{ message }}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>  
            <h1>Events</h1>
            <!-- Upcoming Events -->
            <h2>Upcoming Events</h2>
            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/tutoring - erica.png"></div>
                <div class="description">
                    <p style="top:586px"><span style="font-size: 24px;">1-on-1 Virtual Tutoring</span><br><br>Flexible date & time, via Zoom</span><br><br>Virtual volunteering activity. Teach the subject of your choice to children with special needs. Tutoring times are flexible. Volunteer training required.</p>
                    <a href="#" class="eligibilitybutton sign-up-button">Check Eligibility</a>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <!-- Change href="" to link to the right google form for event sign up -->
                        <a href="https://www.google.com/" class="sign-up-button">Register</a>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>            
            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/wasp - erica.png"></div>
                <div class="description">
                    <p style="top:586px"><span style="font-size: 24px;">Winter After School Program</span><br><br>Tuesdays January 5, 12, 19, 2021 via Zoom</span><br><br>Virtual volunteering activity. Play online games and activities with children with special needs! Some games include Skribbl.io, Codenames, Reverse pictionary, Charades, and Simon Says. Volunteer training required.</p>
                    <a href="#" class="eligibilitybutton sign-up-button">Check Eligibility</a>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <!-- Change href="" to link to the right google form for event sign up -->
                        <a href="https://www.google.com/" class="sign-up-button">Register</a>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
                    
            <!-- Past Events -->
            <h2>Past Events</h2>

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/tasp - erica.png"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">Thanksgiving After School Program</span><br><br>November 24-25, 2020 3:15pm</span><br><br>Virtual volunteering activity. Play online games and activities with children with special needs! Some games include Skribbl.io, Codenames, Reverse pictionary, Charades, and Simon Says. Volunteer training required. </p>
                </div>
            </div>       

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/fcsn davis 2nd meeting.png"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">2nd General Meeting</span><br><br>November 10, 2020 8pm</span><br><br>We will be introducing new volunteering events. All majors welcome, no registration needed.</p>
                </div>
            </div>

             <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/FCSN Volunteer Training Instagram Post.png"></div> 
                <div class="description">
                    <p><span style="font-size: 24px;">FCSN Volunteer Training</span><br><br>October 31, 2020 1pm</span><br><br>Volunteers are required to attend this training before participating in volunteering events. Our trainings are held by the parent organization FCSN. They do not hold trainings very often so be sure not to miss this opportunity!</p>
                </div>
            </div>            
               
            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/among us - erica.png"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">Game Night Social</span><br><br>October 25, 2020 8pm</span><br><br>A great opportunity for club members to meet each other and the board members! Come play Among Us with us! Who's the imposter?</p>
                </div>
            </div>

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/fcsn davis first meeting.png"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">1st General Meeting</span><br><br>October 6, 2020 8pm</span><br><br>Join us for our first ever general meeting at UC Davis! We will be introducing board members and speaking about our upcoming volunteering events. All majors welcome, no registration needed.</p>
                </div>
            </div>
           

            <!-- Message if user doesn't enter valid email -->
            <div class="error-message">
                <p><span style="color: red; font-weight: 600; font-size: 25px; line-height: 30px;">Email Invalid<br></span>Please enter a valid email address.</p>
            </div>
        </div>

        <!-- footer -->
        <div class="footer">
            <div class ="footercontent">
                <div class = "footertext">Friends of Children with Special Needs @ UC Davis</div>
                <div class= "footericons">
                    <div class="footericon"><a href="https://aggielife.ucdavis.edu/organization/fcsndavis"><img class = "footerimg" src="../static/image 3.png"></a></div>
                    <div class="footericon"><a href="https://www.instagram.com/fcsndavis/"><img class = "footerimg" src="../static/image 2.png"></a></div>
                    <div class="footericon"><a href="https://www.facebook.com/groups/fcsndavis"><img class = "footerimg" src="../static/image 1.png"></a></div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    // Each sign-up button will open a form for the user to enter their email
    var sign_up_buttons = document.getElementsByClassName('eligibilitybutton');
    function promptEmail() {
        document.querySelector('.email-popup').style.display = "flex";
    };

    for (i = 0; i < sign_up_buttons.length; i++) {
        sign_up_buttons[i].addEventListener("click", promptEmail);
    }

    // Returns true if valid input and false if invalid to prevent check_eligibility 
    // from processing invalid email
    function validEmail()
    {
        var input = document.check_email.email.value;

        const regex = RegExp("^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$");

        // Displays error message if invalid input for email
        if(!regex.test(input))  {
            document.querySelector('.error-message').style.display = 'flex';
            return false; // Prevents an invalid email from entering database
        }

        // Processes email to database
        return true;
    }

    // Closes popup email eligibility form
    document.querySelector('.close').addEventListener('click', 
    function() {
        document.querySelector('.email-popup').style.display = 'none';
        document.querySelector('.error-message').style.display = 'none';
    });
</script>
