<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8">
        <title>FCSN Events</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styles/events.css">
    </head>

    <body>
        <div class= "nav-bar">
            <div class="logocontainer">
                <img src= "../static/images/fcsndavislogo (fb banner) 2.png" alt="FCSN Davis Logo" > 
            </div>
            <div class= "links">
                <a class="navbutton" href = "/home">Home</a>
                <a class="navbutton" href = "/aboutus">About Us</a>
                <a class="navbutton" href = "/events">Events</a>
                <a class="navbutton" href = "/getinvolved">Get Involved</a>
                <a class="navbutton" href = "/contact">Contact</a>
            </div>
        </div>

         <!-- Popup for email form -->
         <div class="email-popup">
            <div class="popup-content">
                <!-- Closes the popup -->
                <div class="close">+</div>

                <!-- Contents of Popout -->
                <h2 style="width: 500px;">Check for event eligibility</h2>
                <form action="{{ url_for('check_eligibility') }}" method="POST" name="check_email" onsubmit="return validEmail()">
                    <input type="text" name="email" id="email" placeholder="Enter email here">
                </form>
            </div>
        </div>
        <div class="eventsbody">
            <!-- Messages about eligibility or ineligibility -->
            <div class="message">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <!-- Displays message confirming eligibility or ineligibility -->
                        <div id="messagecontent">
                        {% for category, message in messages %}
                            <p><span style="color: red; font-size: 20px;">{{ category }}<br></span> {{ message }}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>  
            <h1>Events</h1>
            <!-- Upcoming Events -->
            <h2>Upcoming Events</h2>
            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/FCSN After School Program Flyer.jpg"></div>
                <div class="description">
                    <p style="top:586px"><span style="font-size: 24px;">December 28,2020, LOCATION</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec ultricies pellentesque fermentum elit 
                        varius velit pellentesque lectus. Volutpat dictum quis enim, egestas diam viverra integer viverra id.</p>
                    <a href="#" id="button" style="top: 779px" class="sign-up-button">Check Eligibility</a>
                </div>
            </div>
                    
            <!-- Past Events -->
            <h2>Past Events</h2>

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/fcsn davis first meeting.png"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">DATE, LOCATION</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec ultricies pellentesque fermentum elit 
                        varius velit pellentesque lectus. Volutpat dictum quis enim, egestas diam viverra integer viverra id.</p>
                </div>
            </div>

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/fcsn davis 2nd meeting.png"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">DATE, LOCATION</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec ultricies pellentesque fermentum elit 
                        varius velit pellentesque lectus. Volutpat dictum quis enim, egestas diam viverra integer viverra id.</p>
                </div>
            </div>

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/game night social.jpg"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">DATE, LOCATION</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec ultricies pellentesque fermentum elit 
                        varius velit pellentesque lectus. Volutpat dictum quis enim, egestas diam viverra integer viverra id.</p>
                </div>
            </div>

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/FCSN Volunteer Training Instagram Post.png"></div> 
                <div class="description">
                    <p><span style="font-size: 24px;">DATE, LOCATION</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec ultricies pellentesque fermentum elit 
                        varius velit pellentesque lectus. Volutpat dictum quis enim, egestas diam viverra integer viverra id.</p>
                </div>
            </div>

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/FCSN Thanksgiving After School Club Flyer.jpg"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">DATE, LOCATION</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec ultricies pellentesque fermentum elit 
                        varius velit pellentesque lectus. Volutpat dictum quis enim, egestas diam viverra integer viverra id.</p>
                </div>
            </div>

            

           

            <!-- Message if user doesn't enter valid email -->
            <div class="error-message">
                <p><span style="color: red; font-weight: 600; font-size: 25px; line-height: 30px;">Email Invalid<br></span>Please enter a valid email address.</p>
            </div>
        </div>

        <!-- footer -->
        <div class="footer">
            <div class ="footercontent">
                <div class = "footertext">Friends of Children with Special Needs @ UC Davis</div>
                <div class= "footericons">
                    <div class="footericon"><a href="https://aggielife.ucdavis.edu/organization/fcsndavis"><img class = "footerimg" src="../static/image 3.png"></a></div>
                    <div class="footericon"><a href="https://www.instagram.com/fcsndavis/"><img class = "footerimg" src="../static/image 2.png"></a></div>
                    <div class="footericon"><a href="https://www.facebook.com/groups/fcsndavis"><img class = "footerimg" src="../static/image 1.png"></a></div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    // Each sign-up button will open a form for the user to enter their email
    var sign_up_buttons = document.getElementsByClassName('sign-up-button');
    function promptEmail() {
        document.querySelector('.email-popup').style.display = "flex";
    };

    for (i = 0; i < sign_up_buttons.length; i++) {
        sign_up_buttons[i].addEventListener("click", promptEmail);
    }

    // Returns true if valid input and false if invalid to prevent check_eligibility 
    // from processing invalid email
    function validEmail()
    {
        var input = document.check_email.email.value;

        const regex = RegExp("^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$");

        // Displays error message if invalid input for email
        if(!regex.test(input))  {
            document.querySelector('.error-message').style.display = 'flex';
            return false; // Prevents an invalid email from entering database
        }

        // Processes email to database
        return true;
    }

    // Closes popup email eligibility form
    document.querySelector('.close').addEventListener('click', 
    function() {
        document.querySelector('.email-popup').style.display = 'none';
        document.querySelector('.error-message').style.display = 'none';
    });
</script>
