<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> Volunteer </title>
        <!-- <link href="FSCNGetInvolved.css" rel="stylesheet" type="text/css" /> -->
        <link rel="stylesheet" href="../static/styles/getinvolved.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class= "nav-bar">
            <div class="logocontainer">
                <img src= "../static/images/fcsndavislogo (fb banner) 2.png" alt="FCSN Davis Logo" > 
            </div>
            <div class= "links">
                 <a class="navbutton" href = "/home">Home</a>
                <a class="navbutton" href = "/aboutus">About Us</a>
                <a class="navbutton" href = "/events">Club Events</a>
                <a class="navbutton" href = "/getinvolved">Volunteer</a>
                <a class="navbutton" href = "/parents">For Parents</a>                
                <a class="navbutton" href = "/contact">Contact</a>
            </div>
        </div>

        <!-- get involved content -->
        <div class="get_involved">
            <div id="content-wrap">
                <h1> Volunteer </h1>
                
                <p> 
                    To get involved with the FCSN at UC Davis, we offer a variety of events from 
                    volunteering opportunities to general meetings. We also organize fundraisers to 
                    help children with special needs all around the world. If you are interested in 
                    any of these events and bridging the gap between the neurotypical and special 
                    needs community, click below to view and sign up for events! 
                    <br>
                </p>

                <!-- replace images if needed. we just choose random event flyers -->
                <div class='flex-container'>
                    <img src = "../static/images/spring1v1.png" alt="Spring Quarter 1-on-1 Tutoring" 
                        style='padding:20px; width: 307px; height: 307px'>
                    <img src = "../static/images/FCSN Volunteer Training 2.2021.png" alt="Volunteer Training" 
                        style='padding:20px; width: 307px; height: 307px'>
                    <img src = "../static/images/wasp - erica.png" alt="First Meeting" 
                        style='padding:20px; width: 307px; height: 307px'>

                </div>
                
                <br> 
                <br>
                <div class="wrapper">
                    <button><a class="eventsbutton" href="/events">See Events</a></button>
                    <br>
                    <br>
                </div>

                <br>
                <br>
                <br>
                <br>
                    
                <div class=header><h2>Calendar for club members: </h2></div>
                <br>
                <div id="bigbox">
                    <br>

                    <div>
                    <!-- <h2> [Google Calendar] </h2> -->

                    <!-- replace this with the actual google calendar link -->
                   <iframe src="https://calendar.google.com/calendar/embed?src=9aa2epho5p9ivc1kfl04dfm0a0%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>                    <!-- calendar dimensions: width="1050px" height="646px" -->
                   </div>
            </div>
        </div>

        <style>
                .footer {  
                 position: relative;    <!--temporary solution-->
                 width: 100%;
                 left: 0;
                 bottom: 0;
                         
                }
        </style>
            
        <div class="footer">
            <div class ="footercontent">
                <div class = "footertext">Friends of Children with Special Needs @ UC Davis</div>
                <div class= "footericons">
                    <div class="footericon"><a href="https://aggielife.ucdavis.edu/organization/fcsndavis"><img class = "footerimg" src="../static/image 3.png"></a></div>
                    <div class="footericon"><a href="https://www.instagram.com/fcsndavis/"><img class = "footerimg" src="../static/image 2.png"></a></div>
                    <div class="footericon"><a href="https://www.facebook.com/groups/fcsndavis"><img class = "footerimg" src="../static/image 1.png"></a></div>
                </div>
            </div>
        </div>
    </body>
</html>
