
<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Friends of Children with Special Needs (FCSN) at UC Davis</title>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="../static/styles/home.css">
    </head>
    <body>
        <div class= "nav-bar">
            <div class="logocontainer">
                <img src= "../static/images/fcsndavislogo__fb_banner__2-removebg-preview.png" alt="FCSN Davis Logo" > 
            </div>
            
            <div class= "links">
                <a class="navbutton" href = "/home">Home</a>
                <a class="navbutton" href = "/aboutus">About Us</a>
                <a class="navbutton" href = "/events">Club Events</a>
                <a class="navbutton" href = "/getinvolved">Volunteer</a>
                <a class="navbutton" href = "/parents">For Parents</a>                
                <a class="navbutton" href = "/contact">Contact</a>
            </div>
        </div>
        
        <div class= "homebackground">
            <img src="../static/images/fcsnbanner3.png" alt="Welcome to FCSN at UC Davis!" class="welcome">
              <h2 class = "aboutUs">About Us</h2>
              <p>Friends of Children with Special Needs Club (FCSN) at UC Davis is a student-run branch of the local non-profit organization Friends of Children With Special Needs (FCSN). We work to provide UC Davis students with volunteer and leadership opportunities. Our club is dedicated to channeling hope, support and awareness towards the special needs community. We work closely with FCSN to bridge the gap between the neurotypical and the special needs community. We also organize fundraisers for children with special needs in different parts of the world to support them in their education. Above all, we strive to reduce the stigma surrounding the special needs community and to encourage strong, loving bonds between the special needs community and the society as a whole.</p>
              <a class="seeMore" href="/aboutus" >See More</a>
        </div>
        
        <h2>Club Events</h2>
        <div class = "events">
            <img src="../static/images/spring1v1.png" alt="left">
            <img class="eventpic2" src="../static/images/FCSN Volunteer Training 2.2021.png" alt="center">
            <img src="../static/images/WQ2021 Game Night Club Social.JPG" alt="right">
        </div>
        <br>
        <a class="seeMore" href="/events">See More</a>
        <br>    
        <h2>College Volunteers</h2>
        <p>FCSN Club at UC Davis offers a variety 
          of events from volunteering opportunities to general meetings. 
          We also organize fundraisers to help children with special needs. If you are interested in any of these events
            and bridging the gap between the neurotypical and special needs 
            community, click below to find out more!</p>
        <a class="seeMore" href="/getinvolved">See More</a>
        <h2>Parents & Participants</h2>
        <p>Welcome to the FCSN Family! Our student-run branch has multiple events set up for children with special needs. These events allow children to socialize, learn new things, and have fun. Some that we've had in the past are 1-on-1 tutoring and an After School Program. Click below to see more details!</p>
        <a class="seeMore" href="/parents">See More</a>
        <div class="footer">
            <div class ="footercontent">
                <div class = "footertext">Friends of Children with Special Needs @ UC Davis</div>
                <div class= "footericons">
                    <div class="footericon"><a href="https://aggielife.ucdavis.edu/organization/fcsndavis"><img class = "footerimg" src="../static/image 3.png"></a></div>
                    <div class="footericon"><a href="https://www.instagram.com/fcsndavis/"><img class = "footerimg" src="../static/image 2.png"></a></div>
                    <div class="footericon"><a href="https://www.facebook.com/groups/fcsndavis"><img class = "footerimg" src="../static/image 1.png"></a></div>
                </div>
            </div>
        </div>
    </body>
</html>
