<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8">
        <title>Parents</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../static/styles/events.css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
    </head>

    <body>
        <div class= "nav-bar">
            <div class="logocontainer">
                <img src= "../static/images/fcsndavislogo (fb banner) 2.png" alt="FCSN Davis Logo" > 
            </div>
            <div class= "links">
                <a class="navbutton" href = "/home">Home</a>
                <a class="navbutton" href = "/aboutus">About Us</a>
                <a class="navbutton" href = "/events">Club Events</a>
                <a class="navbutton" href = "/getinvolved">Volunteer</a>
                <a class="navbutton" href = "/parents">For Parents</a>                
                <a class="navbutton" href = "/contact">Contact</a>
            </div>
       </div>
       <div class="eventsbody">
            <!-- Upcoming Events -->
            <h2>Upcoming Events</h2>
            <div class="eventcontainer">
                <p style="top:586px"><span style="font-size: 24px;">Summer Break</span><br><br>Flexible date & time, via Zoom</span><br><br>We are on summer break and will resume events in late September! Please sign up for our parents newsletter below if you would like to receive an email when we start events again!</p>
                            <!-- Change href="" to link to the right google form for event sign up -->
                            <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLScqhGLZs2qhIaOa6kgbmt5WXrwr03gEvNzAOVHmPMOqCfG7HA/viewform?usp=sf_link" class="sign-up-button">Register</a> -->
                </div>
            </div>            
              
            <!-- Begin Google Calendar -->
            <div align="center">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=Z21zbWw2ZXIwZ285Y2NrM2lsNXVoOXJocGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23D81B60&amp;color=%230B8043&amp;title=FCSN%20Davis%3A%20Parents" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>    
            </div>
            <!-- Begin Mailchimp Signup Form -->
            

            <div id="mc_embed_signup">
                <form action="https://facebook.us7.list-manage.com/subscribe/post?u=a69b54213013b7cb87f064e74&amp;id=3565f1ea24" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <h2>Subscribe to our parent newsletter</h2>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-CHILDFN">Participant's First Name  <span class="asterisk">*</span></label>
                                <input type="text" value="" name="CHILDFN" class="required" id="mce-CHILDFN">
                            </div>
                        <div class="mc-field-group">
                            <label for="mce-CHILDLN">Participant's Last Name  <span class="asterisk">*</span></label>
                            <input type="text" value="" name="CHILDLN" class="required" id="mce-CHILDLN">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-PARENTFN">Parent's First Name  <span class="asterisk">*</span></label>
                            <input type="text" value="" name="PARENTFN" class="required" id="mce-PARENTFN">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a69b54213013b7cb87f064e74_3565f1ea24" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->
   
            <!-- Past Events -->
            <h2>Past Events</h2>
    
            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/wasp - erica.png"></div>
                <div class="description">
                    <p style="top:586px"><span style="font-size: 24px;">1-on-1 Virtual Tutoring</span><br><br>Arrange schedule with tutor, via Zoom</span><br><br>These classes are largely informal (and also completely free) with the main goal being to create friendships during these difficult times. Classes are 1 hour long, once per week, and will be held online(all other information is also attached on the flyer). You can find a description of the classes on this document: <a href="https://tinyurl.com/y2gzwf6v">https://tinyurl.com/y2gzwf6v</a></p>
                       <!-- Change href="" to link to the right google form for event sign up -->
                            <!a href="https://docs.google.com/forms/d/e/1FAIpQLSfQ-lJAHeiP3V9cDw6cEhBtWRSVEtJUFdAoVC8UFIsEDmTbeg/viewform?usp=sf_link" class="sign-up-button"></a>
                </div>
            </div>   

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/wasp - erica.png"></div>
                <div class="description">
                    <p style="top:586px"><span style="font-size: 24px;">Winter After School Program</span><br><br>Tuesdays January 5, 12, 19, 2021 via Zoom</span><br><br>The Winter After School Program is a recurring event on Tuesdays at 3:15pm during the winter! The After School Program is designed for children grades 1-6 from schools in the Davis and Sacramento Area. We are planning for this to be a socializing event for students where we encourage communication and positivity. We will be hosting fun and engaging activities such as arts & crafts, watching kids' videos, and playing games such as online Pictionary (skribbl.io). There will be different activities each week! </p>
                       <!-- Change href="" to link to the right google form for event sign up -->
                            <!a href="https://docs.google.com/forms/d/e/1FAIpQLSfQ-lJAHeiP3V9cDw6cEhBtWRSVEtJUFdAoVC8UFIsEDmTbeg/viewform?usp=sf_link" class="sign-up-button"></a>
                </div>
            </div>    

            <div class="eventcontainer">
                <div class="fliercontainer"><img class="flier" src="../static/images/tasp - erica.png"></div>
                <div class="description">
                    <p><span style="font-size: 24px;">Thanksgiving After School Program</span><br><br>November 24-25, 2020 3:15pm</span><br><br>Virtual volunteering activity. Play online games and activities with children with special needs! Some games include Skribbl.io, Codenames, Reverse pictionary, Charades, and Simon Says. Volunteer training required. </p>
                </div>
            </div>  

            <!-- Donate -->
            <h2>Donate</h2>
            
            <div>
                <p><span style="font-size: 24px;">Donate Directly</span><br><br>You can also donate directly to our club and help us create more programs to help children with special needs via Venmo @Sasha-Afroz, or PayPal at PayPal.Me/fcsndavis (select for friends and family only). We appreciate your kind donation! All proceeds will go towards club activities.</p>
            </div>     
        </div>

        <!-- footer -->
        <div class="footer">
            <div class ="footercontent">
                <div class = "footertext">Friends of Children with Special Needs @ UC Davis</div>
                <div class= "footericons">
                    <div class="footericon"><a href="https://aggielife.ucdavis.edu/organization/fcsndavis"><img class = "footerimg" src="../static/image 3.png"></a></div>
                    <div class="footericon"><a href="https://www.instagram.com/fcsndavis/"><img class = "footerimg" src="../static/image 2.png"></a></div>
                    <div class="footericon"><a href="https://www.facebook.com/groups/fcsndavis"><img class = "footerimg" src="../static/image 1.png"></a></div>
                </div>
            </div>
        </div>
    </body>
</html>
